.wrappers{
    margin-top: 80px;
    max-width: 1080px;
    height: 100vh;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


#pic{
    position: absolute;
    width: 470px;
    top: 160px;
    left: 60px;
}

@media(max-width:1000px){
    #pic{
        display: none;
    }

    .notip{
        position: relative;
        margin: 0 auto;
    }
}

@media(width>1000px){
    .notip{
        position: relative;
        top: 140px;
        right: 60px;
    }
}

.notip{
    position: absolute;
    background-color: #DFD3C3;
    font-family: "Rowdies", sans-serif;
    text-align: center;
    width: 500px;
    height: 450px;
    padding-left: 70px;
    padding-right:  70px;
    font-weight: 50px;
    font-style: normal;
    color: black;
    

}

.noti{
    font-size: 50px;

}

#para{
    padding-top: 30px;
    line-height: 2;
    font-family: "Poppins", sans-serif;
}

.btn{
    width: 170px;
    height: 45px;
    margin-top: 30px;
    color:black;
    background-color: #D0B8A8;
    border-radius: 8px;
    font-size: 19px;
    z-index: 1;
    overflow: hidden;
}

.btn:hover{
    background-color: #C5705D;
    color:white;
}




