
.intro{
    position: absolute;
    background-color: #DFD3C3;
    width: 400px;
    height: 500px;
    padding: 30px;
    text-align: left;
    font-size: 14px;
    color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.noti{
    font-family: "Rowdies", sans-serif;
    text-align: center;
    padding-top: 50px;
    font-size: 50px;
}

.login-form{
    padding-top: 30px;
}

.input-group {
    margin-bottom: 20px;
    label {
        margin-bottom: 10px;
    }

    input{
        height: 40px;
    }

}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.input-group input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.options-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.remember-me {
    display: flex;
    align-items: center;

    input {
        margin-right: 5px;
    }
}

.forgot-password a {
    color: #007bff;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}

#btn{
    width: 350px;
    height: 45px;
    margin-top: 30px;
    color:black;
    background-color: #D0B8A8;
    border-radius: 8px;
    font-size: 19px;
    z-index: 1;
    overflow: hidden;
}

#btn:hover{
    background-color: #C5705D;
    color:white;
}

.sign{  

    float: right;
    margin-top: 20px;
    .up {
        color: #007bff;
        text-decoration: none;
    }
    
    .up:hover {
        text-decoration: underline;
    } 
}
