.form{
    padding-top: 20px;
}

.input-group {
    top: 0px;
    margin-bottom: 20px;
    label {
        margin-bottom: 10px;
    }

    input{
        height: 40px;
    }

}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.input-group input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}



.intro{
    background-color: #DFD3C3;
    width: 400px;
    height: 700px;
    padding: 30px;
    text-align: left;
    font-size: 14px;
    color: black;
    margin: 0 auto;
    margin-top: 100px;
    
}

.noti{
    font-family: "Rowdies", sans-serif;
    text-align: center;
    top: 0px;
    font-size: 50px;
}


#btn{
    width: 350px;
    height: 45px;
    color:black;
    background-color: #D0B8A8;
    border-radius: 8px;
    font-size: 19px;
    z-index: 1;
    overflow: hidden;
}

#btn:hover{
    background-color: #C5705D;
    color:white;
}